.about{
  width: 100%;
  padding: 10vw 5vw;
  color: white;
  display: flex;
  gap: 4vw;
  padding: 10vw 15vw;
  padding-left: 30vw;
  /* justify-content: space-between; */
  align-items: center;
  box-sizing: border-box;
}
img{
  width: 200px;
}
.textAbout{
  width: 25rem;
}

.textAbout h5{
  text-transform: uppercase;
  opacity: .7;
  margin-bottom: 10px;
}

.textAbout p{
  line-height: 1.5;
  margin-bottom: 30px;
}

.textAbout a{
  text-decoration: none;
  color: white;
  border: 1px solid white;
  padding: 12px 22px;
  font-size: 12px;
  border-radius: 100px;
  text-transform: uppercase;
}

.textAbout button{
  background-color: black;
  color: white;
  margin-left: 20px;
  font-family: "Montserrat";
  border: 1px solid white;
  padding: 12px 22px;
  font-size: 12px;
  border-radius: 100px;
  text-transform: uppercase;
}