<div class="about">
  <img src="../../assets/harsh.png" alt="">
  <div class="textAbout">
    <h5>[About Me]</h5>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio ipsam sit vitae doloremque voluptate consectetur
      laborum cum doloribus quod recusandae! Accusantium, hic atque quos ab laudantium saepe unde molestiae sed nihil
      nulla, reiciendis aspernatur delectus enim dolorum quia ea quidem eius consectetur sapiente pariatur sit dolore
      quo quis! Ex, adipisci.</p>
    <a href="mailto:hv41096@gmail.com">Let's Talk</a>
    <button (click)="downloadResume()">Download Resume</button>
  </div>
</div>