<div class="skills">
    <div class="skill ">
        <div class="skill-img">
            <img src="../../assets/Skill/C++.png" alt="">
            <h4>C++</h4>
        </div>
    </div>
    <div class="skill">
        <div class="skill-img">
            <img src="../../assets/Skill/HTML.png" alt="">
            <h4>HTML</h4>
        </div>
    </div>
    <div class="skill">
        <div class="skill-img">
            <img src="../../assets/Skill/CSS.png" alt="">
            <h4>CSS</h4>
        </div>
    </div>
    <div class="skill">
        <div class="skill-img">
            <img src="../../assets/Skill/JS.png" alt="">
            <h4>Javascript</h4>
        </div>
    </div>
    <div class="skill">
        <div class="skill-img">
            <img src="../../assets/Skill/ANGULAR.png" alt="">
            <h4>Angular</h4>
        </div>
    </div>
    
    <div class="skill">
        <div class="skill-img">
            <img src="../../assets/Skill/PYTHON.png" alt="">
            <h4>Python</h4>
        </div>
    </div>
    <div class="skill">
        <div class="skill-img">
            <img src="../../assets/Skill/MYSQL.png" alt="">
            <h4>MySql</h4>
        </div>
    </div>
    <div class="skill">
        <div class="skill-img">
            <img src="../../assets/Skill/GIT.png" alt="">
            <h4>Git</h4>
        </div>
    </div>
    <div class="skill">
        <div class="skill-img">
            <img style="-webkit-filter: invert(1);
            filter: invert(1);" src="../../assets/Skill/GITHUB.png" alt="">
            <h4>Github</h4>
        </div>
    </div>
    
</div>
