.skills {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 100px 0px;
    justify-content: center;
    align-items: center;
    margin: 10vw 4vw;
}

.skill {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;
    width: 100%; 
}

.skill img {
    width: 70px;
}

.skill h4 {
    color: white;
    text-transform: uppercase;
    margin: 0;
}
