.heading {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8vw;
    opacity: 0.7;
}

.heading h1 {
    color: white;
    text-transform: uppercase;
}

.skills {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 100px 0px;
    justify-content: center;
    align-items: center;
    margin: 5vw 4vw;
}

.skill {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;
    width: 100%;
}

.skill img {
    width: 70px;
}

.skill h4 {
    color: white;
    text-transform: uppercase;
    margin: 0;
}

.skill-img:hover {
    animation: rotate 1s ease-in-out both;
}

@keyframes rotate {
    0% { transform: rotate(0deg) translate3d(0,0,0); }
    25% { transform: rotate(10deg) translate3d(0,0,0); }
    50% { transform: rotate(-10deg) translate3d(0,0,0); }
    75% { transform: rotate(1deg) translate3d(0,0,0); }
    100% { transform: rotate(0deg) translate3d(0,0,0); }
}

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
    .heading{
        margin-top: 15vw;
    }
    .skills {
        gap: 50px 0px; 
        margin: 10vw 2vw; 
    }

    .skills img{
        width: 50px;
    }
   
}
