<div class="project">
  <div class="elem">
    <div class="heading">
      <img src="../../assets/whatsapp.png" alt="">
      <h1>Whatsapp Chat Analyzer</h1>
      <h5>2023</h5>
    </div>
    <li>Analyse the WhatsApp chat between individual user or a group.</li>
    <li>Used python libraries pandas, seaborn, wordcloud and matplotlib
      for analysing chats data.</li>
  </div>
  <div class="elem">
    <div class="heading">
      <img src="../../assets/Github.jpg" alt="">
      <h1>Github Profile Viewer</h1>
      <h5>2023</h5>
    </div>
    <li> Created a website with help of Angular, TailwindCSS and Typescript
      in Fyle-Frontend-Challenge 2k23.</li>
    <li>This website helped userto view and extract public repositories of a
      Github User.</li>
  </div>
  <div class="elem elemlast">
    <div class="heading">
      <img src="../../assets/Moshify.jpg" alt="">
      <h1>Moshify</h1>
      <h5>2023</h5>
    </div>
    <li>Created a simple static website with help of html, css and javascript.</li>
  </div>
</div>