
.checkout h1{
  color: white;
  opacity: 0.7;
  text-align: center;
  margin-top: 120px;
  margin-bottom: 50px;
  text-transform: uppercase;
}
.project{
  
  color: white;
}
.elem{
  position: relative;
  width: 85%;
  border-top: 1px solid #888;
  padding: 3.5vw 0 ;
  margin-left: 2vw;
  
}
.elem h1{
  text-transform: uppercase;
  font-size: 5vw;
  opacity: 0.7;
}

.elem h5{
  text-transform: uppercase;
  opacity: 0.7;
}

.elem .heading{
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.elemlast{
  border-bottom: 1px solid #888;
}
.elem img{
 
  opacity: 0;
  height: 140%;
  width: 35%;
  position: absolute;
  z-index: 99;
  pointer-events:none;
  cursor: pointer;
  transform: translate(-50%, -50%);
  

}
@media (max-width: 768px) {
    .checkout h1{
      margin-top: 100px
    }
}
