<div class="checkout">
  <h1>[ My Work ]</h1>
</div>
<div class="project">
  <div class="elem">
    <div class="heading" (click)="openWhatsAppChat()">
      <img src="../../assets/whatsapp.jpg" alt="">
      <h1>Whatsapp Chat Analyzer</h1>
      <h5>Python</h5>
    </div>
  </div>
  <div class="elem">
    <div class="heading" (click)="openFyle()">
      <img src="../../assets/blog.jpeg" alt="">
      <h1>Blog Karo</h1>
      <h5>Node & React</h5>
    </div>
  </div>
  <div class="elem">
    <div class="heading" (click)="openFyle()">
      <img src="../../assets/Github.jpg" alt="">
      <h1>Github Profile Viewer</h1>
      <h5>Angular</h5>
    </div>
  </div>

  <div class="elem">
    <div class="heading" (click)="openQrify()">
      <img src="../../assets/Qrify.jpg" alt="">
      <h1>Qrify</h1>
      <h5>Angular</h5>
    </div>

  </div>
  <div class=" elem elemlast">
    <div class="heading" (click)="openMoshify()">
      <img  src="../../assets/Moshify.jpg" alt="">
      <h1>Moshify</h1>
      <h5>Front-End</h5>
    </div>

  </div>
</div>