<div class="home">

  <div class="heading">
    <div class="bounding">
      <h1 class="boundingElem">Software</h1>
    </div>

    <div class="blocktxt">
      <div class="bounding">
        <h1 class="boundingElem" id="secondH1">Developer</h1>
      </div>
      <div class="bounding">
        <h5 class="boundingElem">Based in Gurgaon</h5>
      </div>
    </div>
    <div class="sideHeading">
      <div class="bounding">
        <h5 class="boundingElem">Working as SDE 1</h5>
      </div>
      <div class="bounding">
        <h5 class="boundingElem">At Amazon</h5>
      </div>
    </div>
    <div class="footerHome">
      <a href="https://github.com/Haarsh1306" target="_blank">Github<i class="ri-arrow-right-up-line"></i></a>
      <a href="https://leetcode.com/Harsh1306/" target="_blank">Leetcode<i
          class="ri-arrow-right-up-line"></i></a>

      <div class="iconset">
        <div class="circle"><i (click)="onArrowClick()" class="ri-arrow-down-fill"></i></div>
        <div class="circle"><i (click)="onArrowClickMore()" class="ri-arrow-down-fill"></i></div>
      </div>
    </div>
  </div>
</div>