<div class="home">
  <app-navbar></app-navbar>
  <div class="heading">
    <h1>enthusiastic</h1>
    <div class="blocktxt">
      <h1 id="secondH1">Programmer</h1>
      <h5>Based in Gurgaon</h5>
    </div>
    <div class="sideHeading">
      <h5>Available for full time</h5>
      <h5>Work from June 23'</h5>
    </div>
    <div class="footer">
      <a href="https://github.com/Haarsh1306">Github Profile<i class="ri-arrow-right-up-line"></i></a>
      <a href="https://leetcode.com/Harsh1306/">Leetcode Profile<i class="ri-arrow-right-up-line"></i></a>

      <div class="iconset">
        <div class="circle"><i class="ri-arrow-down-fill"></i></div>
        <div class="circle"><i class="ri-arrow-down-fill"></i></div>
      </div>
    </div>
  </div>
</div>